
*,*:after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
.contenedor_carga {
background-color:black;
height: 100%;
width: 100%;
position: fixed;
-webkit-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
z-index: 1000;
}



.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: relative;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
*/

body{
    margin: 0px;
    padding: 0px;
}
.load{
    height: 100px;
    width: 100px;
    background-color:black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    z-index: 999;
}
.load img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

